<h1>Glitter! Everywhere! </h1>

Peeps for sheeps:

<ul>
  <% @peeps.each do |peep| %>
    <li><%= peep.status %></li>
  <% end %>
</ul>

<div id="new-peep">
  <form action="/peeps" method="post">
    Your little peep show: <input type="text" name="status">
    <input type="submit" value="add peep!">
  </form>
</div>






